{% block content %}
        <div class="container">
            <h1 class="text-center"> Procedures </h1>
            <p>Here, you can find information on many different procedures that are performed by dentists.</p>
            <div class="row">
                <div class="col-sm-4">
                    <h2>Teeth Whitening</h2>
                    <p>Teeth whitening is a procedure that removes stains from the surface of your teeth. It is usually done to improve the appearance of your teeth.</p>
                </div>
                <div class="col-sm-4">
                    <h2>Root Canal</h2>
                    <p>A root canal is a procedure that removes the pulp from the inside of a tooth. It is usually done to treat a tooth that is infected or damaged.</p>
                </div>
                <div class="col-sm-4">
                    <h2>Polishing</h2>
                    <p>Polishing is a procedure that removes stains and plaque from the surface of your teeth. It is usually done after a dental cleaning.</p>
                </div>
            </div>
        </div>
{% endblock %}
